<div class="profile-container">
  <div class="col-lg-4">
  <h3>User info</h3>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" %>
  <h5>name</h5>
  <h4 class="profile-name"><%= user.name %></h4>
  <h5>introduction</h5>

   <% if user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
    <% end %>
  <h3>New book</h3>
  <%= form_with model:user, local:true do |f| %>
    <div class="col-lg-4">
      <label>Title</label>
      <%= f.text_field :title %>
    </div>
    <div class="col-lg-4">
    <label>Opinion</label>
      <%= f.text_area :body %>
      <%= f.submit :"Create Book" %>
    </div>
  <% end %>
  </div>
</div>
