<div class="container">
  <div class="row">
    <div class="col">



    <h2>User info</h2>
      <table class="table">
        <%= form_with model:@user, local:true do |f| %>
        <tr>
          <td>Name</td>
        </tr>
        <tr>
          <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %></td>
        </tr>
          <tr>
            <td>ProfileImage</td>
          </tr>
          <tr>
            <td><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></td>
            </tr>
            <tr>
              <td>introduction</td>
              <tr>
              <td><%= f.text_area :body %></td>
              </tr>
            </tr>
            <tr>
            <td><%= f.submit "Update User" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>