<h2>Follower Users</h2>
<table>
  <tr>
    <td>image</td>
    <td>name</td>
  </tr>
</table>
<table>
  <% @users.each do |user| %>
  <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no-image-icon.jpg" %></td>
    <td><%= user.name %></td>
    <td>フォロー数:<%= user.follower.count %></td>
    <td></td>
    <td></td>
    <td></td>
    <td>フォロワー数:<%= user.followed.count %></td>
    <td><%= link_to "Show", user_path(user.id), class:"ml-5" %></td>
  </tr>

  <% end %>
</table>