<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
</div>

<% @books.each do |post_book| %>
<div>
  <%= link_to book_path(post_book.id) do %>
  <% end %>
 
  <p>Books：<%= post_image.book %></p>
  <p>introduction：<%= post_image.caption %></p>
  <p>User info：<%= post_book.user.name %></p>
</div>
<% end %>
<%= paginate @books %>