.container
  .row
    .profile-container
      %div{:calss => "col-lg-4"}
        %h3 User info
        = attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg"
        %h5 name
        %h4.profile-name= user.name
        %h5 introduction
        - if user.id == current_user.id
          %p= link_to "プロフィール編集", edit_user_path(user)
        %h3 New book
        = form_with model:@book, local:true do |f|
          .col-lg-4
            %label Title
            = f.text_field :title
          .col-lg-4
            %label Opinion
            = f.text_area :body
            = f.submit :"Create Book", class: "btn btn-secondary"
