<div class="container">
  <div class="row">
    <div class="mx-auto";>

        <% if @book.errors.any? %>
            <%= @book.errors.count %>error
            <% @book.errors.full_messages.each do |message| %>
            <%= message %>
         <% end %>
        <% end %>

      <h1>Editing Book</h1>
        <%= form_with model: @book, local:true do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
          <h4>Opinion</h4>
          <%= f.text_area :body %>
          <table class="table mx-auto" style="width: -400px;">
            <tr>
              <td><%= f.submit 'Update Book' %></td>
            </tr>
          </table>
          <table class="table mx-auto" style="width: -400px;">
            <tr>
              <td><%= link_to "Show", book_path(@book.id) %></td>
              <td>|</td>
              <td><%= link_to "Back", books_path %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>





<p id="notice"></p>




<div class="container">
  
  


<div class="row">
  
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    
    
    <h1>Editing Book</h1>
    
    
    <form action="/books/36234" accept-charset="UTF-8" method="post">…</form>
    
    
    
    
    <a class="book_36234" href="/books/36234">Show</a>
    
    
    
    |
  	
  	
  	<a class="back" href="/books">Back</a>
  		
    
    
    
    
    
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</div>


</div>










