<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render "books/list", user: @user, book: @book %>
    </div>

          <% if @book.errors.any? %>
          <%= @book.errors.count %>
          <% @book.errors.full_messages.each do |message| %>
            error
            <%= message %>
          <% end %>
        <% end %>


    <div class="col-lg-8">
        <h3>Books</h3>
      <table class="table">
      <tr>
        <td></td>
        <th>Title</th>
        <th>Opinion</th>
        <td></td>
        <td></td>
      </tr>
       <% @books.each do |book| %>
       <tr>
         <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" %></td>
         <td><%= book.title %></td>
         <td><%= book.body %></td>
       </tr>
       <% end %>
    </table>
        </div>
      </div>
    </div>
  </div>

