.profile-container
  %h3.profile-name= @user.name
  = image_tag('no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg')
- @books.each do |book|
  %div
    = link_to book_path(book.id) do
      = attachment_image_tag book, :no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg
    %p
      投稿ユーザー画像：#{image_tag('sample-author1.jpg')}
    %p
      Books：#{post_image.book}
    %p
      introduction：#{post_image.caption}
    %p
      User info：#{post_book.user.name}
= paginate @books
