<div class=container>
  <div class="row">
      <div calss="col-lg-4">
        <h3>User info</h3>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" %>
        <h5>name</h5>
        <h4 class="profile-name"><%= @user.name %></h4>
        <h5>introduction</h5>

         <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
          <% end %>
        <h3>New book</h3>
          <%= form_with model:@new_book, local:true do |f| %>
           <table class="table">
          <th>Title</th>
          <th><%= f.text_field :title %></th>
        </table>
        <table calss="table">
          <th>Opinion</th>
          <td><%= f.text_area :body %></td>
          </table>
          <table class="table">
            <th><%= f.submit :"Create Book", class: "btn btn-secondary" %></th>
          </table>
        <% end %>
      </div>

     <div class="col-lg-8">
    <!--<table ="table, mx-auto, py-5">
      <tr>
      <td><= flash[:notice] %></td>
      </tr>
    </table>        -->

    <table class="table">
      <tr>
        <td>Book detail</td>
      </tr>
      <tr>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
      </tr>
    </table>
      </div>
    </div>
  </div>
