!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bookers2
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.d-flex.flex-column.vh-100
    %header.shadow-sm
      %nav.navbar.navbar-expand-lg.navbar-light
        .container
          %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
              - if user_signed_in?
                %li.nav-item
                  = link_to 'Bookers', root_path, class: 'nav-link text-dark'
                %li.nav-item
                  = link_to 'Home', user_path(current_user.id), class: 'nav-link text-dark mx-4'
                %li.nav-item
                  = link_to 'Users', users_path, class: 'nav-link text-dark'
                %li
                  = link_to 'Books', books_path, class: 'nav-link text-dark'
                %li.nav-item
                  = link_to "logout", destroy_user_session_path, method: :delete, class: 'nav-link text-dark'
              - else
                %li.nav-item
                  = link_to 'Bookers', root_path, class: 'nav-link text-dark'
                %li.nav-item
                  = link_to 'Home', new_user_registration_path, class: 'nav-link text-dark mx-4'
                %li.nav-item
                  = link_to "About", about_path, class: 'nav-link text-dark'
                %li.nav-item
                  = link_to "sign up", new_user_registration_path, class: 'nav-link text-dark'
                %li.nav-item
                  = link_to "login", new_user_session_path, class: 'nav-link text-dark'
    %main.mb-auto
      %p= flash[:notice]
      %p= flash[:alert]
      = yield
    %footer
      .container
        .row.no-gutters
          .mx-auto
            %p CopyRight Infratop.inc
